{% load staticfiles %}
<!DOCTYPE html>
<html>

<head lang="es-MX">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} Factura </title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700'
          rel='stylesheet' type='text/css'>
    <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'base/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/base.css' %}" rel="stylesheet">

    {% block styles %}

    {% endblock %}

    <!--[if gte IE 9]>
        <style type="text/css">
            .gradient {
                filter: none;
            }
        </style>
    <![endif]-->
</head>

<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
<body class="top-navigation">

<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                            class="navbar-toggle collapsed" type="button">
                        <i class="fa fa-reorder"></i>
                    </button>
                    <a href="{% url 'index_app:index' %}" class="navbar-brand">
                        <img src="{% static 'base/img/logo-renka-dark.png' %}" alt=""/>MyFac
                    </a>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#"> Inicio </a>
                        </li>
                        <li>
                            <a href="{% url 'factura_app:nueva' %}"> crea tu factura </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links navbar-right">
                        {% if user.is_authenticated %}
                            <li>
                                <div data-toggle="dropdown" id="menu-profile" class="dropdown-toggle"
                                     aria-expanded="true">
                                    <ul>
                                        <li>
                                            <span class="m-r-md" href="#">{{ user.get_short_name }}</span>
                                        </li>
                                        <li>
                                            {% if user.get_image != "" %}
                                                <div class="avatar img-circle img-user">
                                                    <style>
                                                        .img-user {
                                                            position: relative;
                                                            top: 10px;
                                                            background-image: url({{ user.get_image }});
                                                            width: 36px !important;
                                                            margin-right: 5px;
                                                            padding-bottom: 36px;
                                                        }
                                                    </style>
                                                </div>
                                            {% else %}
                                                <img alt="image" class="img-circle"
                                                     src="{% static 'base/img/avatar.jpg' %}"/>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu-profile">
                                    <li><a href="{% url 'factura_app:lista_facturas' %}">Mis Facturas</a></li>
                                    <li><a href="{% url 'usuarios_app:perfil' %}">Editar Perfil</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/logout">Salir</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="{% url 'usuarios_app:logout' %}">
                                    <i class="fa fa-sign-out"></i> Salir
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'usuarios_app:login' %}">
                                    <i class="fa fa-sign-in"></i> Ingresar
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <div class="wrapper wrapper-content">
            <div class="container">
                {% block content %}

                {% endblock %}
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                <strong>Términos y Condiciones</strong>
            </div>
            <div>
                <strong>Copyright</strong> MyFac © {% now "Y" %}
            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="{% static 'base/js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'base/js/bootstrap.min.js' %}"></script>
<script src="{% static 'base/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'base/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<script src="{% static 'base/js/plugins/chartJs/Chart.min.js' %}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'base/js/inspinia.js' %}"></script>
<script src="{% static 'base/js/plugins/pace/pace.min.js' %}"></script>

<!-- Flot -->
<script src="{% static 'base/js/plugins/flot/jquery.flot.js' %}"></script>
<script src="{% static 'base/js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'base/js/plugins/flot/jquery.flot.resize.js' %}"></script>

<script src="{% static 'base/js/plugins/jquery.number.min.js' %}"></script>

{% block scripts %}

{% endblock %}

</body>
</html>