.navbar-brand img{
    width: 16px;
    display: inline-block;
    margin-right: 6px;
}

.navbar-nav > li button {
	font-weight: 700;
	margin-top: -10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-nav > li img{
    width: 38px !important;
    height: 38px !important;
}

.carousel-caption h1{
	font-weight: 700;
	font-size: 48px;
	text-transform: uppercase;
	text-shadow: none;
	letter-spacing: -1.5px;
}

.carousel-caption h1 > small{
	text-transform: none;
	color: #dddddd;
	font-weight: 500;
}

.carousel-image img{
    width: 200px;
}

.header-back.gray{
  background-color: #2f4050 !important;
}
.header-back.blue{
  background-color: #3F51B5 !important;
}