{% extends 'base/base_no_sidebar.html' %}
{% block title %}
    Detalle factura
{% endblock %}

{% block content %}
    <h2>Descripcion detallada ...</h2>
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Factura {{ factura.id }}</h5>
                </div>
                <div>
                    <div class="ibox-content profile-content" >
                        <div id="div_usuario">
                            <h4><strong>{{ factura.nombre }}</strong></h4>
                            <p>Fecha: {{ factura.fecha }}</p>
                            <p>Importe: {{ factura.importe }}</p>
                            <p>Descripcion: {{ factura.descripcion }}</p>
                            <p>RFC: {{ user.rfc }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
