{% extends 'base/base_no_sidebar.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    Envio exitoso
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static '' %}"/>
{% endblock %}


{% block content %}
    <div class="row row-centered">
        <div class="col-xs-12 text-center">
            <div class="alert alert-success">
                <h2>Se ah enviado con exito una copia de la factura a tu correo !</h2>
            </div>
        </div>
        <h3>Puedes seguir creando y administrando tus facturas o completar tu perfil para agilizar la creacion de facturas</h3>
        <div class="col-xs-3 col-centered m-t-xl">
            <a href="{% url 'factura_app:nueva' %}" class="btn btn-info btn-block">Crear una factura</a>
        </div>
        <div class="col-xs-3 col-centered m-t-xl">
            <a href="{% url 'usuarios_app:perfil' %}" class="btn btn-success btn-block">Ir a mi perfil</a>
        </div>
    </div>
{% endblock %}


{% block scripts %}

{% endblock %}