{% extends 'base/base_no_sidebar.html' %}
{% block title %}
    HISTORIAL
{% endblock %}

{% block content %}
        <a class="btn btn-primary m-b pull-right" href="{% url 'factura_app:facturas_xml' %}">XML</a>

    <span><h2><strong> Mis Facturas </strong></h2></span>
    <br><br>

    {% if lista_facturas != '' %}

        {% for factura in lista_facturas %}
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                        <br><strong><a style="text-align:left"  href="{% url 'factura_app:acciones_factura' 'borrar'  factura.id %}">eliminar</a></strong>
                    <div class="ibox-title">
                        <h5><strong>{{ factura.nombre }}</strong></h5>

                    </div>
                    <div>
                        <div class="ibox-content profile-content">
                            <div id="div_usuario">

                                <p>Fecha: {{ factura.fecha }}</p>

                                <p>Importe: {{ factura.importe }}</p>

                                <p>Descripcion: {{ factura.descripcion }}</p>

                                <p>RFC: {{ user.rfc }}</p>
                                <a href="{% url 'factura_app:detalles_factura'  factura.id %}">Ver mas...</a><br>
                                <a href="{% url 'factura_app:acciones_factura' 'xml'  factura.id %}">xml</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}



    {% else %}
        <br>
        <h3> Aun no has creado ninguna factura :( </h3>


    {% endif %}


{% endblock %}




