{% extends 'base/base_no_sidebar.html' %}

{% block title %}
    Nueva
{% endblock %}


{% block content %}

    <span>VISTA PARA CREAR UNA FACTURA NUEVA</span>
            {% if exito != '' %}
                    <h3 style="color: #b94a48">{{ exito }}</h3>
            {% endif %}
                <form role="form" method="post" accept-charset="utf-8">
                    {% csrf_token %}

                    {% for field in nueva_factura %}
                        <div class="form-group">
                            <!-- Render the field label tag -->
                                {{ field }}
                            <!--  muestra los errores que halla en los fields -->
                            {% if field.errors %}
                                <p class="error">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button class="btn btn-primary m-b pull-right" id="btn-submit" type="submit" name="factura_form">crear factura</button>
                </form>

{% endblock %}




