{% extends 'base/base_no_sidebar.html' %}
{% load staticfiles %}

{% block title %}
    Registrate | Inicia Sesión
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'usuarios/css/style.css' %}"/>
{#    <link rel="stylesheet" href="{% static 'usuarios/css/strength.css' %}"/>#}
    <link rel="stylesheet" href="{% static 'proyectos/css/custom.css' %}"/>
    <style>
        .wrapper .middle-box {
            margin-top: 0;
            margin-bottom: 40px;
        }
    .psw{
        background:transparent;
        height: 34px;
        -webkit-transition: border .25s linear, color .25s linear;
        -moz-transition: border .25s linear, color .25s linear;
        -o-transition: border .25s linear, color .25s linear;
        transition: border .25s linear, color .25s linear;
        -webkit-backface-visibility: hidden;
        width:100%;
        }
        .psw:focus{
        outline:0;
        }
        .strength_meter{
        background:#fff;
        position: absolute;
        left: 0px;
            top: 194px;
            top: 194px;
        width: 100%;
        height: 34px;
        z-index:-1;
        border-radius:5px;
        padding-right:13px;
        }
        .button_strength {
        text-decoration: none;
        font-size: 24px;
        }
        .strength_meter div{
            width:0%;
        height: 34px;
        text-align: right;
        color: #000;
        line-height: 34px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        padding-right: 12px;
        border-radius:5px;
        }
        .strength_meter div p{
        position: absolute;
        top: 22px;
        right: 0px;
        color: #FFF;
        font-size:13px;
        }

        .veryweak{
            background-color: #FFA0A0;
        border-color: #F04040!important;
        width:25%!important;
        }
        .weak{
        background-color: #FFB78C;
        border-color: #FF853C!important;
        width:50%!important;
        }
        .medium{
        background-color: #FFEC8B;
        border-color: #FC0!important;
        width:75%!important;
        }
        .strong{
        background-color: #C3FF88;
        border-color: #8DFF1C!important;
        width:100%!important;
        }

    </style>
{% endblock %}

{% block content %}

{% if user and not user.is_anonymous and not user.email %}
    <h2> Solo resta que nos proporciones un email para que podamos enviarte informacion...etc</h2>
                <form role="form" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                        <input class="form-control" id="id_email" maxlength="254" name="email" placeholder="Email" type="email">
                    <button class="btn btn-primary m-b pull-right" id="btn-submit" type="submit" name="email_twitter">Registrate</button>
                </form>

{% elif user and not user.is_anonymous and user.email %}
    <div class="row m-lg">
        <div class="col-xs-12">
            <div class="animated fadeInDown">
                <h1>Hola,<br>{{ user.get_short_name }}!</h1>
                <br>
                <h2><a href="/logout">Salir</a></h2>
            </div>
        </div>
    </div>

    <script language="JavaScript" type="text/javascript">

    var pagina="http://localhost:8000/factura/nueva"
    function redireccionar()
    {
    location.href=pagina
    }
        setTimeout ("redireccionar()", 0);

</script>


{% else %}
    <div class="row">
        <div class="col-lg-6">
            <div class="middle-box animated fadeInDown">
                <h2>Regístrate</h2>

                <form role="form" method="post" accept-charset="utf-8">
                    {% csrf_token %}

                    {% for field in user_register %}
                        <div class="form-group">
                            <!-- Render the field label tag -->
                                {{ field }}
                            <!--  muestra los errores que halla en los fields -->
                            {% if field.errors %}
                                <p class="error">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="checkbox i-checks"><label> <input type="checkbox"><span class="m-l-sm">Acepto los términos y condiciones</span></label></div>
                    </div>
                    <button class="btn btn-primary m-b pull-right" id="btn-submit" type="submit" name="register_form">Registrate</button>
                </form>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="middle-box animated fadeInDown">
                <h2>Inicia Sesión</h2>
                <h5>{{ Error }}</h5>
                <form class="m-t" role="form" method="post" accept-charset="utf-8">
                    {% csrf_token %}

                    {% for field in login_form %}
                        <div class="form-group">
                            {% if field != login_form.recordarme %}
                                <!-- Render the field label tag -->
                                    {{ field }}
                                <!--  muestra los errores que halla en los fields -->
                                {% if field.errors %}
                                    <p class="error">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                    </p>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="checkbox i-checks recuerdame"><label>{{ login_form.recordarme }}<span class="m-l-sm">Recuérdame</span></label></div>
                    </div>
                    <button class="btn btn-primary m-b pull-right" type="submit" name="login_form">Inicia Sesión</button>
                </form>

                <p>
                <a href="{% url 'reset_password_reset1' %}"><small>Forgot password?</small></a>
                </p>
                <!-- LINK PARA LOGUEARSE CON FB, 'FUNCIONANDO' ES FACEBOOK, faltan las llaves para poder con twitter y linkedin-->
                <!-- SI EL USUARIO ESTA LOGUEADO, LO SALUDA, SI NO, LO INVITA A LOGUEARSE CON FB, TWITTER O LINKEDIN-->
                <hr/>
            </div>
        </div>
    </div>

{% endif %}

{% endblock %}

{% block scripts %}

{% endblock %}