
{% extends 'base/base_no_sidebar.html' %}
{% load staticfiles %}

{% block title %}
Editar Perfil
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Tu Perfil</h5>
                </div>
                <div>
                    <div class="ibox-content no-padding">
                         {% if user.get_image != "" %}
                        <img alt="image" class="img-responsive" src="{{ user.get_image }}">
                         {% else %}
                        <img alt="image"  src="{% static 'base/img/avatar.jpg' %}" style="height: 42px"/>
                         {% endif %}

                    </div>
                    <div class="ibox-content profile-content" >
                        <div id="div_usuario">
                            <h4><strong>{{ user.get_full_name }}</strong></h4>
                            <p>Desde: {{ user.fechaRegistro|date }}</p>
                            <p><i class="fa fa-map-marker"></i> {{ user.email }}</p>

                            <p>Fecha de nacimiento: {{ user.fechaNac|date }}</p>

                            <p>RFC: {{ user.rfc }}</p>
                        </div>
                        <div id="div_perfil">
                            <p>Telefono : {{ user.telefono }}</p>
                            <p>Direccion : {{ user.direccion }}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <h3>Para hacer mas rapida y comoda tu gestion de facturas, te pedimos tu informacion
                personal,</h3>
            <form class="form-group" action="{% url 'usuarios_app:perfil' %}" method="post" enctype="multipart/form-data" id="form_datos">
                {% csrf_token %}
                {% for field in completar_perfil %}
                    <div class="form-group">
                        <!-- Render the field label tag -->
                        {{ field }}
                        <!--  muestra los errores que halla en los fields -->
                        {% if field.errors %}
                            <p class="error">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                {% endfor %}
                <button class="btn btn-primary m-b pull-right" id="btn-submit" type="submit" href="{% urk %}" >
                    Actualizar
                </button>
            </form>


        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'base/js/plugins/summernote/summernote.min.js' %}"></script>

    <script>
    //div_cuenta
        $('#btn-cuenta').on('click', cuentas);
        function cuentas()
        {
            $.ajax
            ({
                data: $("#form_cuenta").serialize(),
                url: '/editar_ajax2/',
                type: 'post',
                success: function (result)
                {
                    result = jQuery.parseJSON(result.cuentas_usuario);
                    var html="";
                    for (var i=0 ;i<result.length;i++)
                    {
                        //html+= '<span>'+result[i].fields.url+'</span><br><span>'
                        //    +result[i].fields.tipo_red_social+'</span><br>'
                        html+='<span>Descripcion: '+result[i].fields.banco+'</span><br>'
                                +'<span>Numero :'+result[i].fields.numero_de_cuenta+'</span>'
                                + '<button id="Borrar" class="btn btn-primary  btn-xs" type="button">Borrar</button><br>'

                    }
                    ////console.log(html);
                    $('#div_cuenta').html(html);
                },
                error: function (result)
                {
                    alert("No contesta el servidor ");
                }
            });
        }
    </script>
{% endblock %}