.section{
    margin: 80px auto;
}

.foot{
    background-color: #263238;
    padding: 80px 0;
    color: #F5F5F5;
}

.foot .footer-logo{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.foot .footer-title{
    font-weight: 500;

}

.foot ul{
    list-style: none;
    padding-left: 10px;
    font-weight: 300;
    margin-bottom: 40px;
}

.foot .footer-brand-col{
    border-top: 1px solid #F5F5F5;
}

.foot .footer-brand{
    font-weight: 900 !important;
    font-size: 1.5em;
    color: #F5F5F5 !important;
    margin-top: 10px;
    display: inline-block;
}

.foot .footer-brand img{
    height: 30px !important;
    display: inline-block;
    margin-top: -4px;
    padding-right: 10px;
}

.foot .footer-rights{
    text-align: center;
}