<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2> Gracias por registrarte con nosotros {{ user }} !! :D </h2>

<h3><p> en nuestra plataforma podras gestionar, almacenar, hacer respaldos y mas funcionalidades
    para facilitarte la tediosa tarea de hacer facturas</p>
</h3>

</body>
</html>