{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Add Your favicon here -->
    <!--<link rel="icon" href="img/favicon.ico">-->

    <title>Factura - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'index/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="{% static 'index/css/animate.min.css' %}" rel="stylesheet">

    <link href="{% static 'index/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'index/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'index/css/main.css' %}" rel="stylesheet">
</head>
<body id="page-top">
<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/login">
                        <img src="{% static 'base/img/logo-renka-dark.png' %}" alt="MyFac"/>

                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">INICIO</a></li>
                        <li><a class="page-scroll" href="#testimonials">¿CÓMO FUNCIONA?</a></li>
                        <li><a class="page-scroll" href="#features">CARACTERÍSTICAS</a></li>
                        <li><a href="#"> CREAR FACTURA </a></li>
                        <li><a class="page-scroll" href="#pricing">crear factura</a></li>
                        <li><a class="page-scroll" href="#contact">CONTACTO</a></li>
                        {% if user.is_authenticated %}
                            <li>
                                <a class="m-t-n-sm" href="">
                                {% if user.get_image != "" %}
                                    <img alt="image" class="img-responsive img-circle" src="{{ user.get_image }}"/>
                                {% else %}
                                    <img alt="image" class="img-responsive img-circle" src="{% static 'base/img/avatar.jpg' %}"/>
                                {% endif %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'usuarios_app:logout' %}">
                                    <i class="fa fa-sign-out"></i> Salir
                                </a>
                            </li>
                        {% else %}
                            <li><a href="{% url 'usuarios_app:login' %}"><button class="btn btn-lg btn-primary">log in </button></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
</div>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>FACTURACION<br/>
                        ELECTRONICA<br/>
                        <small>
                        La forma mas facil <br/> De administrar tus Facturas</small></h1>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">SABER MÁS</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img class="img-responsive" src="{% static 'base/img/logo-renka-outline.png' %}" alt="laptop"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back gray"></div>

        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <h1>FACTURACION<br/>
                        ELECTRONICA<br/>
                        <small>
                        aqui va un slogan <br/> para la pagina xD</small></h1>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">SABER MÁS</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img class="img-responsive" src="{% static 'base/img/logo-renka-outline.png' %}" alt="laptop"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back blue"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contactanos</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="navy">Company name, Inc.</span></strong><br/>
                    795 Folsom Ave, Suite 600<br/>
                    San Francisco, CA 94107<br/>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="m-t-sm">
                    Or follow us on social platform
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2015 Company Name</strong><br/> consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'index/js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'index/js/pace.min.js' %}"></script>
<script src="{% static 'index/js/bootstrap.min.js' %}"></script>
<script src="{% static 'index/js/classie.js' %}"></script>
<script src="{% static 'index/js/cbpAnimatedHeader.js' %}"></script>
<script src="{% static 'index/js/wow.min.js' %}"></script>
<script src="{% static 'index/js/inspinia.js' %}"></script>
</body>
</html>
